html,
body {
  height: 100%;
}

[role="main"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* Page */

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff url(../images/wall.jpg) center bottom repeat-x;
  line-height: 400px;
  font-size: 300px;
  font-weight: bold;
  text-align: center;
  color: rgba(0,0,0,0.2);
}

.multiplebgs.cssgradients .page {
  background-position: center bottom, center bottom;
  background-repeat: no-repeat, repeat-x;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.35) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.35) 100%),
        url(../images/wall.jpg);
  background-image: linear-gradient(to right,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.35) 100%),
        url(../images/wall.jpg);
}

/* Page Transformation */

.csstransforms3d.cssanimations [role="main"] {
  -webkit-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

.csstransforms3d.cssanimations .page-trans-in {
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: transRoomIn 1s ease both;
  animation: transRoomIn 1s ease both;
}

.csstransforms3d.cssanimations .page-trans-out {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: transRoomOut 1s ease both;
  animation: transRoomOut 1s ease both;
}

.csstransforms3d.cssanimations .page-trans-back-in {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: transRoomBackIn 1s ease both;
  animation: transRoomBackIn 1s ease both;
}

.csstransforms3d.cssanimations .page-trans-back-out {
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: transRoomBackOut 1s ease both;
  animation: transRoomBackOut 1s ease both;
}

/* Animations */

@-webkit-keyframes transRoomOut {
  to {
    -webkit-transform: translateX(-99%) rotateY(90deg);
    transform: translateX(-99%) rotateY(90deg);
  }
}

@keyframes transRoomOut {
  to {
    -webkit-transform: translateX(-99%) rotateY(90deg);
    -ms-transform: translateX(-99%) rotateY(90deg);
    transform: translateX(-99%) rotateY(90deg);
  }
}

@-webkit-keyframes transRoomIn {
  from {
    -webkit-transform: translateX(99%) rotateY(-90deg);
    transform: translateX(99%) rotateY(-90deg);
  }
}

@keyframes transRoomIn {
  from {
    -webkit-transform: translateX(99%) rotateY(-90deg);
    -ms-transform: translateX(99%) rotateY(-90deg);
    transform: translateX(99%) rotateY(-90deg);
  }
}

@-webkit-keyframes transRoomBackOut {
  to {
    -webkit-transform: translateX(99%) rotateY(-90deg);
    transform: translateX(99%) rotateY(-90deg);
  }
}

@keyframes transRoomBackOut {
  to {
    -webkit-transform: translateX(99%) rotateY(-90deg);
    -ms-transform: translateX(99%) rotateY(-90deg);
    transform: translateX(99%) rotateY(-90deg);
  }
}

@-webkit-keyframes transRoomBackIn {
  from {
    -webkit-transform: translateX(-99%) rotateY(90deg);
    transform: translateX(-99%) rotateY(90deg);
  }
}

@keyframes transRoomBackIn {
  from {
    -webkit-transform: translateX(-99%) rotateY(90deg);
    -ms-transform: translateX(-99%) rotateY(90deg);
    transform: translateX(-99%) rotateY(90deg);
  }
}