html, body {
    height: 100%;
}
[role="main"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/* Page */

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../images/wall.jpg) center bottom repeat-x;
    line-height: 400px;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    color: rgba(0,0,0,0.2);
}
.multiplebgs.cssgradients .page {
    background-position: center bottom, center bottom;
    background-repeat: no-repeat, repeat-x;
    background-image:
        linear-gradient(to right,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.35) 100%),
        url(../images/wall.jpg);
}

/* Page Transformation */

.csstransforms3d.cssanimations [role="main"] {
    perspective: 1200px;
}
.csstransforms3d.cssanimations .page-trans-in {
    transform-origin: 0% 50%;
    animation: transRoomIn 1s ease both;
}
.csstransforms3d.cssanimations .page-trans-out {
    transform-origin: 100% 50%;
    animation: transRoomOut 1s ease both;
}
.csstransforms3d.cssanimations .page-trans-back-in {
    transform-origin: 100% 50%;
    animation: transRoomBackIn 1s ease both;
}
.csstransforms3d.cssanimations .page-trans-back-out {
    transform-origin: 0% 50%;
    animation: transRoomBackOut 1s ease both;
}

/* Animations */

@keyframes transRoomOut {
    to { transform: translateX(-99%) rotateY(90deg); }
}
@keyframes transRoomIn {
    from { transform: translateX(99%) rotateY(-90deg); }
}
@keyframes transRoomBackOut {
    to { transform: translateX(99%) rotateY(-90deg); }
}
@keyframes transRoomBackIn {
    from { transform: translateX(-99%) rotateY(90deg); }
}
